
<body>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Treehouse Download</a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="jumbotron">
		<h3>Navbar example</h3>

		<hr>

		<form method="POST" action="/download">
			<div class="form-group">
				<label for="url">URL:</label>
				<input type="text" class="form-control" name="url" id="url" placeholder="Url to the treehouse course" required>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>

	</div>
</div>

</body>
